<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Animals Page</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<h1>List of Animals</h1>

<table>

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Amount of Legs</th>
        <th>Is Fluffy?</th>
        <th>Color</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

<!--    this code is basically a foreach loop -->
    <tr th:each="animal : ${animals}">
        <!-- here you would define whatever property of animal you would want displayed    -->
        <td th:text="${animal.id}">id</td>
        <td th:text="${animal.name}">name</td>
        <td th:text="${animal.amountOfLegs}">amount of legs</td>
        <td th:text="${animal.isFluffy()} ? 'fluffly' : 'not fluffy'">is fluffy?</td>
        <td th:text="${animal.color}">color</td>
        <td>
            <a th:href="@{'/animals/delete/' + ${animal.id}}">Delete</a>
        </td>
        <td></td>
    </tr>

</table>

</body>
</html>