<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Hello world!</h1>
<a href="animals/view">Show animals</a>


<script>

    // fetch("http://localhost:8080/get")
    // .then(response => response.json())
    // .then(data => {
    //     data.forEach(animal => {
    //         let newNode = document.createElement("p");
    //         newNode.innerText = `${animal.name} + ${animal.amountOfLegs}`;
    //         document.body.appendChild(newNode);
    //     });
    // })


</script>
</body>
</html>