<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users Page</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<h1>List of Users</h1>

<table>

    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Type</th>
        <th>Delete</th>
        <th>Update</th>

    </tr>

    <!--    this code is basically a foreach loop -->
    <tr th:attr="id=${user.id}" th:each="user : ${users}">
        <!-- here you would define whatever property of animal you would want displayed    -->
        <td th:text="${user.id}" th:attr="onclick=|makeEditable('${user.id}')|">id</td>
        <td th:attr="id=|firstname-${user.id}|" th:text="${user.firstName}">first name</td>
        <td th:attr="id=|lastname-${user.id}|" th:text="${user.lastName}">lastName</td>
        <td th:attr="id=|email-${user.id}|" th:text="${user.email}">email</td>
        <td th:attr="id=|type-${user.id}|"th:text="${user.type}">type</td>
        <td>
            <a contentEditable="false" th:attr="id=|delete-${user.id}" href="#">Delete</a>

        </td>
        <td>
            <a contentEditable="false" th:attr="id=|update-${user.id}|" href="http://localhost:8080/users/view">Update</a>
        </td>
    </tr>

</table>

<div id="form">

        <label for="firstname">Enter first name</label>
        <input  name="firstname" id="firstname" value="firstname">
    <label for="lastname">Enter last name</label>
    <input  name="lastname" id="lastname" value="lastname">
    <label for="email">Enter email</label>
    <input  name="email" id="email" value="email">
    <label for="type">Enter type</label>
    <input  name="type" id="type" value="type">


<!--        <label for="firstName">Enter first name:</label>-->
<!--        <input name="firstName" id="firstName" value="firstName">-->


<button id="submit">Do the thing!</button>

</div>




<script>


    const refresh = () => {
        location.reload();
    }



    // const form = document.querySelector('form');
    const id = document.querySelector('#id');
    const firstName = document.querySelector('#firstName');

    let button = document.getElementById("submit");
    console.log(button);

    button.onclick = () => {
        let firstName = document.getElementById("firstname").value;
        let lastName = document.getElementById("lastname").value;
        let email = document.getElementById("email").value;
        let type = document.getElementById("type").value;



        postFunc(firstName, lastName, email, type)
        location.reload();

    }



    function makeEditable(idNum){
        console.log("This works!");
        const row = document.getElementById(`${idNum}`);
        console.log(row);

        let firstName = document.getElementById(`firstname-${idNum}`);
        let lastName = document.getElementById(`lastname-${idNum}`);
        let email = document.getElementById(`email-${idNum}`);
        let type = document.getElementById(`type-${idNum}`);
        let update = document.getElementById(`update-${idNum}`);

        console.log(firstName.innerText);
        console.log(lastName.innerText);
        console.log(email.innerText);
        console.log(type.innerText);

        row.setAttribute("contentEditable", "true");

        update.onclick = () => {
            console.log("this event listener works!");
            putFunc(idNum, firstName.innerText, lastName.innerText, email.innerText, type.innerText);
        }

        let del = document.getElementById(`delete-${idNum}`);
        del.onclick = () => {
            deleteFunc(idNum);
            console.log("entity deleted!");
            setTimeout(() => {
                location.reload();
            }, 500);
        }




    }

    // function testFunc(){
    // console.log();
    //     }


    // const data = JSON.stringify(Object.fromEntries(form));


    function deleteFunc(id){
        fetch(`http://localhost:8080/users/delete/${id}`, {
            method: 'DELETE',
            headers: {
                'Content-Type':'application/json',
            },
            // body: JSON.stringify(data),
        })
        console.log("entity deleted!");

    }


    function postFunc(firstName, lastName, email, type){

        const data =
            {
                firstName: firstName,
                lastName : lastName,
                email : email,
                type : type,
            }

        console.log(data);


        fetch('http://localhost:8080/users/post', {
            method: 'POST',
            headers: {
                'Content-Type':'application/json',
            },
            body: JSON.stringify(data),
        })}


    function putFunc(id, firstName, lastName, email, type){

        const data =
            {
                id: id,
                firstName: firstName,
                lastName : lastName,
                email : email,
                type : type,
            }

            console.log(data);


        fetch('http://localhost:8080/users/post', {
            method: 'POST',
            headers: {
                'Content-Type':'application/json',
            },
            body: JSON.stringify(data),
        })
            .then(response => console.log("post successful"));
    }

</script>
</body>
</html>